on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      libs_gui_branch:
        description: "libs-gui branch"
        default: "master"
        required: true

jobs:
  ########### Linux ###########
  linux:
    name: ci
    runs-on: ubuntu-latest

    container:
      image: ubuntu:22.04

    # don't run pull requests from local branches twice
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.repository

    strategy:
      matrix:
        include:
          - server: x11
            graphics: cairo
          - server: x11
            graphics: xlib
          - server: headless
            graphics: headless

    env: 
     APT_PACKAGES: >-
        build-essential
        pkg-config
        libtiff-dev
        libjpeg-dev
        libgnustep-base-dev
        libfreetype-dev

     # packages for xlib runtime
     APT_PACKAGES_cairo: >-
        libxt-dev
        
     # packages for cairo runtime
     APT_PACKAGES_cairo: >-
        libcairo2-dev 
  
      DEBIAN_FRONTEND: noninteractive
      SRC_PATH: ${{ github.workspace }}/source
      DEPS_PATH: ${{ github.workspace }}/dependencies

    steps:
      - uses: actions/checkout@v3

      - name: Install packages
        run: |
          apt-get -q -y update
          apt-get -q -y install $APT_PACKAGES $APT_PACKAGES_${{ matrix.graphics }}

      - name: Install dependencies
        env:
          LIBS_GUI_BRANCH: ${{github.event.inputs.libs_gui_branch}}
        run: ./.github/scripts/dependencies.sh

      - name: Build source
        run: |
          . /usr/share/GNUstep/Makefiles/GNUstep.sh
          ./configure --enable-server=${{ matrix.server }} --enable-graphics=${{ matrix.graphics }}
          make && make install

      - name: Run tests
        run: |
          . /usr/share/GNUstep/Makefiles/GNUstep.sh
          make check
